@charset "utf-8";

/* tablet 해상도 영역에서 적용되는 서식 */
@media screen and (min-width:767px) and (max-width:1024px) {

  header {
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 1000;
    background: #000;
  }

  #toggle {
    display: none;
  }

  header h1 {
    width: 200px;
    position: absolute;
    top: 15px;
    left: 3%;
    display: flex;
  }

  header h1 img {
    width: 100px;
  }

  header h1>span {
    position: absolute;
    font-size: 14px !important;
    color: #fff;
    right: 30px !important;
    bottom: 0px;
    text-indent: 100px;
    letter-spacing: 5px;
  }

  /* 메인메뉴 서식 */
  .m_titles {
    font-size: 30px;
  }

  .gnb {
    position: absolute;
    right: 1% !important;
    top: 40px;
  }

  .gnb>ul {
    display: flex;
  }

  .gnb>ul>li {
    margin: 0px 10px !important;
    position: relative;
    /* 서브메뉴의 기준 */
    line-height: 40px;
  }

  .gnb>ul>li>a {
    font-size: 1rem !important;
    font-weight: 600;
    font-family: 'CJONLYONENEWtitleBold';
    color: #fff;
  }

  .gnb>ul>li>a>i.fas {
    color: #fff;
  }

  /* 서브메뉴 서식 */
  .sub {
    border: 1px solid #ccc;
    box-shadow: 0px 1px 1px #ccc;
    border-radius: 4px;
    padding: 2px;
    background: #fff;
    position: absolute;
    width: 100%;
    display: none;
  }

  .sub li {
    text-align: center;
  }

  .sub li a {
    white-space: nowrap;
    font-size: 14px;
    display: block;
    line-height: 36px;
    transition: 0.5s;
    font-family: none;
  }

  .sub li:hover a {
    background-color: #ED3124;
    color: #fff;
    text-decoration: none;
  }

  .sub a {
    padding: 0px 10px;
  }

  .gnb li .sub {
    width: 150px;
    left: -45px;
  }

  /* 1. 메인슬라이드 */
  main {}

  .visual {
    position: relative;
    height: 45vh;
    /* veiwport height */
    overflow: hidden;
    /* filter: brightness(0.6); */
  }

  /* 좌, 우버튼 서식 */
  .visual .s_btn {
    display: flex;
    position: absolute;
    bottom: 5%;
    right: 10%;
    z-index: 20;
  }

  .visual .s_btn>li {
    background-color: rgba(255, 255, 255, .7);
    padding: 12px 6px;
    margin-right: 10px;
    border-radius: 5px;
  }

  .visual .s_btn>li:hover {
    background-color: #fff;
  }


  /* 콘트롤버튼 서식 */
  .visual .ctrl_btn {
    position: absolute;
    right: 1.5%;
    top: 55%;
    z-index: 20;
  }

  .visual .ctrl_btn li {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .on {
    background: #ED3124 !important;
  }


  .visual>h2 {
    display: none;
  }

  .visual>div {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
  }

  .visual>div>video {
    width: 100%;
    transform: translateY(-50px);
    height: 60vh;
  }

  .slide1 {
    z-index: 3;
  }

  .slide2 {
    z-index: 2;
    display: none;
  }

  .slide3 {
    z-index: 1;
    display: none;
  }



  /* 2. 무비차트 */
  .event {
    width: 100% !important;
  }

  .event h2 {
    padding-bottom: 20px !important;
  }

  .e_slide {
    width: 90% !important;
    margin: 0px 5% !important;
  }

  .es_wrap {
    width: 300% !important;
    display: flex;
  }

  .es_wrap div {
    width: 800px !important;
    display: flex;
    /* justify-content: none !important; */
  }

  .es_wrap div a {
    display: block;
    width: 15% !important;
    text-align: center;
    position: relative;
    line-height: 25px !important;
  }

  .es_wrap div a img {
    border-radius: 15px !important;
  }

  .es_wrap div a img:hover {
    filter: brightness(0.8) !important;
    /* transform: none !important; */
    border-radius: none !important;
  }

  .e_txt {
    font-size: 40px !important;
    top: 95px !important;
  }

  .es_wrap div a h3 {
    font-family: 'Noto Sans KR';
    font-size: 20px !important;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .es_wrap div a span {
    font-size: 10px !important;
  }

  .event i.fas {
    top: 120px !important;
  }

  .event i.fa-angle-left {
    left: 20px !important;
  }

  .event i.fa-angle-right {
    right: 20px !important;
  }

  /* 3. 특별관 */
  .tab_con {
    background: #F5F5F5;
    padding: 30px 0px !important;
  }

  .tab_con article {
    width: 90% !important;
    height: 600px;
    margin: 0px auto;
  }

  .tab_con article>h3 {
    padding: 50px 0px 30px;
  }

  .tab_con_wrap {
    display: flex;
    padding-top: 40px;
    position: relative;
  }

  .tab_con_wrap>li {
    margin: 0px 5px;
  }

  .tab_con_wrap>li>a {
    padding: 10px;
    background: #333;
    color: #fff;
    font-size: 17px;
  }

  .tab_con_wrap>li>a:hover {
    text-decoration: none;
  }

  .tab_con h2 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
  }

  .act {
    background: #ED3124 !important;
  }

  .tab_con_wrap dl{width: 50% !important;}
  .tab_con_wrap dt {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .tab_con_wrap dd {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .cont {
    line-height: 30px;
    position: absolute;
    display: none;
    width: 100% !important;
    left: 0px;
    top: 90px;
  }

  .cont img {
    position: absolute;
    width: 300px !important;
    right: 0px;
    top: 0px;
  }


  /* 4. 메인 예고편 */
  .news_con {
    width: 100% !important;
    display: flex;
    margin: 60px auto;
  }

  .youtube>h3 span {
    display: block;
    font-size: 26px;
    padding: 50px 0px 20px;
  }

  .youtube {
    width: 100% !important;
  }

  .youtube div {
    display: flex;
  }

  .youtube div p {
    margin: 20px;
    line-height: 20px !important;
    font-size: 14px !important;
  }

  .news_con iframe {
    width: 720px;
    height: 405px;
    border-radius: 20px;
  }

  /* 5. 예매 */
  .ticketing {
    background: #F5F5F5;
    padding: 60px 0px;
  }

  .ticketing article {
    width: 80% !important;
    margin: 0px auto;
    justify-content: space-between !important;
  }

  .ticketing article h3 {
    padding: 30px 0px !important;
  }

  .ticketing ul {
    display: flex;
  }

  .plus_btn {
    font-size: 10px !important;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 2px 5px !important;
    background: #fff;
    position: absolute;
    right: 10px !important;
    top: -20px !important;
  }

  .ticketing .t_wrap {
    margin-right: 5%;
  }

  .ticketing .t_wrap:last-child {
    margin-right: none;
  }

  .t_wrap {
    width: 30%;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 20px;
    background: #fff;
  }

  .t_wrap>ul {
    position: relative;
    display: block !important;
    /* width: 100%; */
  }

  .t_wrap ul li:first-child {
    font-size: 20px !important;
    margin: 40px 20px 0px !important;
  }

  .t_wrap ul li:last-child {
    text-align: center !important;
    display: block;
    font-size: 18px;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 10px !important;
    padding-top: 0px !important;
    justify-content: none;
  }

  .t_wrap img {
    width: 100% !important;
  }


  /* 6. 이벤트 갤러리 */
  .gallery article {
    width: 100% !important;
    margin: 0px auto;
    padding: 60px 0px;
  }

  .gallery article>h3 {
    color: #333;
    padding: 30px 0px;
  }

  .girl {
    width: 100% !important;
    display: grid;
    grid-template-rows: 270px 270px 270px;
    /* padding: 20px; */
    grid-gap: 20px;
    grid-template-areas:
      "g01 g02 g03"
      "g04 g05 g06"
      "g07 g08 g09";
  }

  figure {
    overflow: hidden;
  }

  figure>figcaption {
    transform: translateY(10px);
  }

  figure:hover figcaption {
    transform: translate(0px, -80px);
  }

  .girl figcaption {
    height: 80px;
    background-color: #111111;
    position: relative;
    transition: 0.5s;
  }

  figcaption h3 {
    font-size: 20px;
    font-weight: bold;
    color: #ED3124;
    padding: 10px 0px 5px 20px;
  }

  figcaption p {
    font-size: 10px;
    color: #ffffff;
    padding: 5px 0px 0px 20px;
  }

  figcaption span {
    border: 1px solid #ffffff;
    font-size: 12px;
    color: #ffffff;
    padding: 5px;
    position: absolute;
    right: 20px;
    bottom: 15px;
  }

  .girl img {
    width: 100%;
  }

  .girl figure:first-child {
    grid-area: g01;
  }

  .girl figure:nth-child(2) {
    grid-area: g02;
  }

  .girl figure:nth-child(3) {
    grid-area: g03;
  }

  .girl figure:nth-child(4) {
    grid-area: g04;
  }

  .girl figure:nth-child(5) {
    grid-area: g05;
  }

  .girl figure:nth-child(6) {
    grid-area: g06;
  }

  .girl figure:nth-child(7) {
    grid-area: g07;
  }

  .girl figure:nth-child(8) {
    grid-area: g08;
  }

  .girl figure:last-child {
    grid-area: g09;
  }

  /* 모달서식 */
  .modal {
    width: 100% !important;
    height: 100% !important;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    z-index: 9999;
  }

  .modal div {
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal h3 {
    color: #fff;
    font-size: 16px;
    line-height: 50px;
  }

  .modal img {
    width: 100%;
  }

  .modal i.fa-times {
    transform: translateX(50px);
    color: #fff;
    font-size: 30px;
    position: fixed;
    right: 0%;
    top: 0px;
  }

  .modal i.fa-angle-left, .modal i.fa-angle-right {
    position: absolute;
    color: #fff;
    font-size: 40px;
    top: 50%;
    cursor: pointer;
  }

  .modal i.fa-angle-left {
    left: -50px;
  }

  .modal i.fa-angle-right {
    right: -50px;
  }

  .modal span {
    color: #fff;
    position: relative;
    bottom: -10px;
    font-size: 18px;
  }

  .p_modal {
    width: 100% !important;
    height: 100% !important;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    z-index: 9999;
  }

  .p_modal div {
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .p_modal .banner {}

  .p_modal .banner img {
    width: 100% !important;
  }

  .p_modal .banner label {
    color: #fff;
    font-size: 13px;
    line-height: 30px;
  }

  .p_modal input[type=checkbox]+label {
    margin-right: 400px;
  }

  .p_modal a {
    padding: 4px 8px;
    font-size: 13px;
  }

  /* 푸터영역서식 */
  footer {
    width: 100% !important;
    background: #F5F5F5;
    color: #666666;
    padding-bottom: 50px;
  }

  /* footer >a{width: 100%;} */
  .f_inner {
    background: #F5F5F5;
  }

  .f_inner nav {
    display: flex;
    justify-content: space-between;
    white-space:nowrap !important;
    width: 100% !important;
    margin: 0px auto;
    padding: 50px 0px;
  }

  .f_inner a {
    transition: 0.5s;
  }

  .f_inner a:hover {
    text-decoration: none;
  }

  footer ul {
    line-height: 30px;
  }

  footer ul li a {
    color: #666666;
    font-weight: bold;
    font-size: 10px !important;
  }

  footer ul li:hover a {
    color: #ED3124;
    border-bottom: 1px solid #ED3124;
  }

  address {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    position: relative;
  }

  address p {
    line-height: 30px;
    font-family: 'Pretendard-Regular';
    font-size: 10px !important;
  }

  footer .t_btn {
    width: 30px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 2000;
    display: none;
  }

  /* sns서식 */
  .sns {
    display: flex;
    position: absolute;
    z-index: 10;
    right: 0px;
  }

  .sns>li {
    border: 1px solid #666;
    margin: 0px 8px;
    padding: 8px 12px;
    text-align: center;
  }

  .sns li .fab {
    color: #666;
    font-size: 20px;
    width: 20px;
  }

  .sns li:hover {
    background: #fff;
    border: 1px solid #ED3124;
  }

  .sns li:hover .fab {
    color: #ED3124;
  }

}